
@model WebApplication2.Models.Pacient
@using WebApplication2.Models


<div class="bs-callout bs-callout-success">
    <h5>Дебют</h5>
    <p>&nbsp;</p>
    <div class="tabContent">
        @foreach (var visit in Model.visits)
        {
            foreach (var anamnes in visit.debutes)
            {
                @Html.Partial("~/Views/Debuts/pacientDetails.cshtml", anamnes)
            }
        }
        </div>
    </div>
