
@model WebApplication2.Models.Pacient
@using WebApplication2.Models

<div class="bs-callout bs-callout-primary">
    <h5>Добавить данные</h5>
    <p>&nbsp;</p>
    @Html.Action("pacientCreateByDate", "Diagnoses", new { id = Model.ID })
</div>
<div class="bs-callout bs-callout-success">
    <h5>Диагнозы</h5>
    <p>&nbsp;</p>
    <div class="tabContent">
        @foreach (var visit in Model.visits)
        {
            visit.diagnoses.Sort(delegate (Diagnosis t1, Diagnosis t2) { return t2.ID.CompareTo(t1.ID); });
            foreach (var anamnes in visit.diagnoses)
            {
                @Html.Partial("~/Views/Diagnoses/pacientDetails.cshtml", anamnes)
            }
        }

        </div>
    </div>
