@{
    ViewBag.Title = "Index";
}
<div class="row">
<div class="col-md-6">
        <h2>Поиск пациентов</h2>
</div>
    <div class="col-md-6">
        <a href="/Pacients/Create/" class="btn btn-success pull-right" style="margin-top: 20px; margin-right: 20px;"><span class="glyphicon glyphicon-plus"></span>Добавить</a>
    </div>
    </div>
<div>
    <form class="form-horizontal">
        <div class="input-group input-group-lg col-md-12 bs-callout bs-callout-primary">
            <label for="search" class="sr-only">Введите имя пациента</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Введите имя пациента" name="name" class="col-sm-10 form-control" id="search" />
            </div>
            <div class="col-sm-2">
                <input type='button' id="submit" value='Поиск' class="btn" />
             </div>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="searchOptions" id="searchByName" value="name" checked> По имени
                </label>
                <label class="radio-inline">
                    <input type="radio" name="searchOptions" id="reviewSearch" value="review"> По резюме
                </label>
                <label class="radio-inline">
                    <input type="radio" name="searchOptions" id="diagnosisSearch" value="diagnosis"> По диагнозу
                </label>
            </div>

            </div>

    </form>
</div>
    <div id="results"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#submit').cha
            $('#submit').click(function (e) {
                e.preventDefault();
                var name = $('#search').val();
                var mode = "name";
                if ($("#reviewSearch").prop("checked"))
                {
                    mode = "review"
                }
                if ($("#diagnosisSearch").prop("checked")) {
                    mode = "diagnosis"
                }
                name = name.replace(new RegExp(" ", 'g'), "%20");
                $('#results').load("/Pacients/SearchByName?name=" + name + "&mode="+mode);
            });
            $('#search').keypress(function (event) {
                if ($("#reviewSearch").prop("checked")) return;
                if (event.which == 13) {
                    event.preventDefault();
                }
                var name = $('#search').val();
                var mode = "name";
                if ($("#reviewSearch").prop("checked")) {
                    mode = "review"
                }
                if ($("#diagnosisSearch").prop("checked")) {
                    mode = "diagnosis"
                }
                name = name.replace(new RegExp(" ", 'g'), "%20");
                $('#results').load("/Pacients/SearchByName?name=" + name + "&mode=" + mode);
            });
        });
    </script>
