
@model WebApplication2.Models.Pacient
@using WebApplication2.Models
<div class="bs-callout bs-callout-success">
    <h5>Новый невростатус</h5>
    <p>&nbsp;</p>
    @Html.Action("pacientCreateByDate", "Neurostatus", new { id = Model.ID })
    <div class="tabContent">
    </div>
</div>
@foreach (var visit in Model.visits)
{
    
    if (visit.neurostatuses.Count!=0) { 
<div class="bs-callout bs-callout-success">
    <h5>Невростатус от @visit.date.Date</h5>
    <p>&nbsp;</p>
    
    <div class="tabContent">
       
            @foreach (var anamnes in visit.neurostatuses)
            {
                @Html.Partial("~/Views/Neurostatus/pacientDetails.cshtml", anamnes)
            }
        
        </div>
</div>
    }
}