
@model WebApplication2.Models.Pacient
@using WebApplication2.Models

<div class="bs-callout bs-callout-primary">
    <h5>Добавить данные</h5>
    <p>&nbsp;</p>
   @Html.Action("pacientCreateByDate", "Reviews", new { id = Model.ID })
</div>
<div class="bs-callout bs-callout-success">
    <h5>Резюме</h5>
    <p>&nbsp;</p>
    
    <div class="tabContent">

        @foreach (var visit in Model.visits)
        {
            visit.reviews.Sort(delegate (Review t1, Review t2) { return t2.ID.CompareTo(t1.ID); });
            foreach (var anamnes in visit.reviews)
            {
                @Html.Partial("~/Views/Reviews/pacientDetails.cshtml", anamnes)
            }
        }
        </div>
    </div>
