@model WebApplication2.Models.Pacient
@using WebApplication2.Models

<div class="bs-callout bs-callout-primary">
    <h5>Добавить данные</h5>
    <p>&nbsp;</p>
    @Html.Action("pacientCreateByDate", "Syndromes", new { id = Model.ID })
</div>
<div class="bs-callout bs-callout-success">
    <h5>Приступы</h5>
    <p>&nbsp;</p>
    
    <div class="tabContent">
        @foreach (var visit in Model.visits)
        {
            foreach (var anamnes in visit.syndromes)
            {
                @Html.Partial("~/Views/Syndromes/pacientDetails.cshtml", anamnes)
            }
        }
    </div>
</div>


