
@model WebApplication2.Models.Pacient
@using WebApplication2.Models

<script>
    function Delete(controller, id) {
        $('#' + controller + 'Div' + id).load('/' + controller + '/pacientDelete/' + id);
    }
    function LoadEditForm( controller, id)
    {
        $('#' + controller + 'Div' + id).load('/' + controller + '/pacientEdit/' + id);
    }
    function PostEditForm(controller, id, mce) {
        if (mce==true) tinyMCE.triggerSave();
        $.ajax({
            type: "POST",
            url: '/' + controller + '/pacientEdit/' + id,
            data: $('#' + controller + 'Edit' + id).serialize(), // serializes the form's elements.
            success: function (data) {
                res = $.parseHTML('<div>'+data+'</div>');
                $('#' + controller + 'Div' + id).html($(res).find('#' + controller + 'Div' + id).html());
            }
        });
        
    }
    function PostCreateForm(controller, num, mce) {
        if (mce == true) tinyMCE.triggerSave();
        $.ajax({
            type: "POST",
            url: '/' + controller + '/Create/',
            data: $('#' + controller + 'Create').serialize(), // serializes the form's elements.
            success: function (data) {
                res = $.parseHTML('<div><div>' + data + '</div></div>');
                $('#documentData'+ num).append($(res).find('div').first().html());
            }
        });

    }

</script>

@if (Model.visits.First().date.Equals(DateTime.Today))
{
    @Html.Partial("~/Views/Pacients/documentList.cshtml", new documentList { num = 1, add = true, visit = Model.visits.First() });
}
@{
    int num = 9;
}
@foreach (var visit in Model.visits)
{
    if (visit.date.Equals(DateTime.Today))
    {
        continue;
    }
    @Html.Partial("~/Views/Pacients/documentList.cshtml", new documentList {num = num, add=false, visit=visit });
    num = num + 8;

}