
@model WebApplication2.Models.Anamnesis



<div id="@String.Format("AnamnesisDiv{0}", Model.ID)">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)

        </dd>


    </dl>
    <button onclick="LoadEditForm('Anamnesis', @Model.ID)">Редактировать</button>
</div>

