@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокировано";
}

<hgroup>
    <h1 class="text-danger">Заблокировано.</h1>
    <h2 class="text-danger">Эта учетная запись заблокирована. Попробуйте еще раз позже.</h2>
</hgroup>
