
@model WebApplication2.Models.Review

  <div id="@String.Format("ReviewsDiv{0}", Model.ID)">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>
        
    </dl>
      <button onclick="LoadEditForm('Reviews', @Model.ID)">Редактировать</button>
      <hr />
</div>